@mixin shadowboxin {
  -webkit-box-shadow: 0 2px 40px 5px rgba(92, 92, 92, 1);
  -moz-box-shadow: 0 2px 40px 5px rgba(92, 92, 92, 1);
  box-shadow: 0 2px 40px 5px rgba(92, 92, 92, 1);
}

@media only screen and(max-width: 768px) {
  .wrapper {
    display: none;
  }
}

body {
  background-color: #E9F0F6;
}

.wrapper {
  position: fixed;
  padding: 10px;
  background-color: white;
  border-right: 1px dotted black;
}

.row {
  margin-top: 20px;
}

.card-img-top {
  width: 80px;
  //height: auto;
  margin-bottom: 10px;
}

h4 {
  font-size: 18px;
  font-weight: bold;
}

p {
  font-size: 75%;
}

.btn {
  border: none;
}

.btn:hover {
  @include shadowboxin;
}

.card {
  height: 325px;
  min-height: 325px;
  width: 250px;
  min-width: 250px;
}

.card-footer {
  background: none;
  width: 150px;
  position: absolute;
  bottom: 0;
  left: 50px;
}
